.card-comp {
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 1px 1px 15px -5px #58585860;
  position: relative;

  @for $i from 0 through 100 {
    &:nth-child(#{$i}n) {
      animation: fadein-up
        500ms
        #{$i *
        100}ms
        both
        cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
  .card-header {
    display: table;
    span {
      display: table-cell;
      vertical-align: middle;
      &.card-thumb {
        width: 50px;
        height: 50px;
        text-align: center;
      }
      &.card-title {
        font-family: "David Libre", serif;
        padding-left: 10px;
        font-size: 1.2em;
      }
      img {
        vertical-align: middle;
        margin: 0 auto;
        max-height: 50px;
        max-width: 50px;
      }
    }
  }
  .card-body {
    text-align: justify;
    &.shortened {
      max-height: 150px;
      overflow: hidden;
    }
  }
  .card-expand {
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    color: #a7a7a7;
    user-select: none;
    cursor: pointer;
    display: block;
    height: 60px;
    padding-top: 35px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.9);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);

    &.opened {
      position: relative;
      width: 100%;
      left: unset;
      right: unset;
      bottom: unset;
      padding-top: 10px;
      height: unset;
    }
  }
}

@keyframes fadein-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
