:root {
  --primary-color: #38997f;
  --primary-color-light: #70bea9;
}

.cont {
  padding: 30px;
  max-width: 500px;
  min-height: 50vh;
  margin: 0 auto;

  .header {
    margin-bottom: 20px;
    text-align: right;
  }

  .footer {
    text-align: center;
    padding: 20px;
    color: #bbb;
  }

  .lang-sel {
    width: auto;
    padding: 2px 30px 2px 10px;
    margin-left: 5px;
  }

  a {
    color: var(--primary-color) !important;
    padding-bottom: 0px;
    border-bottom: 1px solid var(--primary-color-light);
  }

  p {
    margin: 5px auto !important;
  }

  input,
  select,
  textarea {
    &:focus {
      border-color: var(--primary-color-light);
    }
  }
  select {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 8" width="20"><path fill="%23d1d1d1" d="M0,0l6,8l6-8"/></svg>')
      center right no-repeat;
    &:focus {
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 8" width="20"><path fill="%23d1d1d1" d="M0,0l6,8l6-8"/></svg>')
        center right no-repeat;
    }
  }

  .button,
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    background-color: var(--primary-color-light);
    border-color: var(--primary-color-light) !important;
    &:hover {
      background-color: var(--primary-color);
    }
  }
}
